.cardProducto {
    background-color: #5e5d5d;
    border-radius: 1rem;
    width: 15rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxText {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #ddd9d9;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 0.7rem 2rem;
    text-align: center;
}

.imgProducto {
    width: 240px;
    object-fit: contain;
    border-radius: 1rem;
}

.textCat {
    font-size: 1rem;
    color: #424141;
}

.textCatT {
    font-size: 1rem;

}

.linkCat {
    text-decoration: none;
    background-color: #5e5d5d;
    padding: 0.5rem 1rem;
    color: rgb(255, 255, 255);
    border-radius: 2rem;
    font-size: 1.2rem;
    margin: 1rem;
}