header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.imgT {
    width: 10rem;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 1rem;
}

.texto {
    text-decoration: none;
    color: darkgrey;
    font-size: 1.5rem;
}